.header {
    margin-top: 35px;
}

.header__left {
    position: relative;
}

#logo {
    top: -30px;
    position: absolute;
    right: 0;
    height: 100px;
    width: 100px;
}

.search_product {
    margin-top: 50px;
    position: relative;
}

.search_product input {
    text-align: center;
}

.search_product i {
    position: absolute;
    left: 46%;
    top: 33%;
    color: cyan;
}

.add_resultSearch {
    margin-top: 20px;
}

.add_resultSearch ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.add_resultSearch ul li i {
    color: blue;
    font-size: 40px;
}

.add_resultSearch ul li i:hover {
    color: green
}

.pagination__nav {
    justify-content: center;
    display: flex;
}

.show__product table th {
    border: 1px solid #000;
}

.show__product table td {
    border: 1px solid #000;
}

.show__product table tr th {
    border: 1px solid #000;
}

.show__product table tr {
    border: 1px solid #000;
    text-align: center;
}

.show__product table tr td {
    vertical-align: middle;
}

.show__product .operations i {
    margin-right: 5px;
    color: blue;
}

.show__product .imgShowProdcut img {
    height: 100px;
    width: 100px;
}

.modalCRUD .modal-footer {
    display: inline;
    -webkit-box-pack: start;
}

.form-message {
    color: red;
}